@(newGameForm:Form[Int], gridSizes:List[String])

@import helper._

@main("Solitaire Battleship") {

  <h1>Solitaire Battleship</h1>
  <div class="left">
    <h3>Implemented by</h3>
    <h4>Thomas Bopst</h4>
    <h4>and</h4>
    <h4>Felix K&auml;rcher</h4>
    <h3>for Scala lecture</h3>
  </div>
  <div class="center">
    <h3>Rules</h3>
    <p>Place a fleet of ships into the diagram. Each ship segment occupies exactly one cell of the diagram. Ships may be oriented horizontally or vertically and don't touch each other, neither orthogonally nor diagonally. The numbers on the edges of the diagram denote how many ship segments must be placed in the corresponding row or column.</p>
  </div>
  <div class="right">
  <h3>Operations</h3>
  <h4>New Game</h4>
  @form(routes.Application.newGame) {
    <div>@select( newGameForm("size"), options(gridSizes) )</div>
    <div><input type="submit" value="Play!"/></div>
  }
  </div>
}
