@(model:de.htwg.scala.solitairebattleship.model.IGame, placeShipForm:Form[PlaceShipData], removeShipForm:Form[Int], errorMsg:Option[String], showValidation:Boolean)

@import de.htwg.scala.solitairebattleship.view.Formatter
@import de.htwg.scala.solitairebattleship.model.IGame
@import de.htwg.scala.solitairebattleship.model.Model
@import de.htwg.scala.solitairebattleship.model.Ship
@import helper._

@main("Solitaire Battleship") {
  <h1>Play Game</h1>

  @grid
  @unplacedShips
  @hiddenForm

  <a href="@routes.Application.index">New Game</a>
  <a href="@routes.Application.solution">Show Solution</a>

  @if(!errorMsg.isEmpty) {
    <script type="text/javascript">alert("@errorMsg.get")</script>
  }

  <script type="text/javascript">

  var x = undefined;
  var y = undefined;

    $( "div.ship, td.occupied" ).on( "click", function(event) {
      var selectedShip = $(this).text();
      //$( "select[id*='id']" ).val(selectedShip); select#id
      $("select[id*='id'] option").filter(function() {
        return $(this).text() == selectedShip; 
      }).prop('selected', true);
      console.log("ShipID:"+selectedShip);
    });

    $( "td.free" ).on( "click", function(event) {
      
      if (x == undefined || y == undefined) {
        x = $(this).attr("x");
        y = $(this).attr("y");
        $("select#y option").filter(function() {
          return $(this).text() == y;
        }).prop('selected', true);

        $("select#x option").filter(function() {
          return $(this).text() == x;
        }).prop('selected', true);
      } else {
        
        var orientation = "Horizontal"

        if ($(this).attr("y") != y) {
          orientation = "Vertical"
        }

        $("select#orientation option").filter(function() {
            return $(this).text() == orientation;
        }).prop('selected', true);

        x = undefined;
        y = undefined;

        $( "input#submit_placeShip" ).parent().submit();
      }
      
      console.log("Cell: "+ y+","+x);
    });


  </script>
}

@grid = {
    <table>
    <tr>
      <td>@(" ")</td>
      @for(x <- 0 until model.gridSize) {
        <td>@((x+65).toChar)</td>
      }
      <td>@(" ")</td>
    </tr>
    @for(y <- 0 until model.gridSize) {
      <tr>
        <td>@((y+65).toChar)</td>
        @for(x <- 0 until model.gridSize) {  
          @if(showValidation && model.getCollisions.contains((x,y))) {
            <td x="@x" y="@y" class="collision">@model.gameGrid.getCell(x, y).id.toString</td>
          } else {
            @if(model.gameGrid.getCell(x, y) != null) {
              <td x="@((x+65).toChar)" y="@((y+65).toChar)" class="occupied">@model.gameGrid.getCell(x, y).id.toString</td>  
            } else {
              <td x="@((x+65).toChar)" y="@((y+65).toChar)" class="free">~</td>
            }
          }
        }
        @if(showValidation) {
          @if(model.validateRowSum(y)) {
          <td class="valid">
          } else {
            <td class="notValid">
          }
        } else {
          <td>
        }
        @(model.gameGrid.getRowSum(y))</td>
      
      </tr>
    }
    <tr>
      <td>@(" ")</td>
      @for(x <- 0 until model.gridSize) {
        @if(showValidation) {
          @if(model.validateColumnSum(x)) {
          <td class="valid">
          } else {
            <td class="notValid">
          }
        } else {
          <td>
        }
        @(model.gameGrid.getColumnSum(x))</td>
      }
      <td>@(" ")</td>
    </tr>
  </table>
}

@unplacedShips = {
  <div>
    @for(s <- model.getUnplacedShips) {
      <div id="@(s.id.toString)" class="ship">@(s.id.toString)</div> <!-- shipWithSize@(s.size.toString) -->
    }
  </div>
}
  
@hiddenForm = {

  @form(routes.Application.placeShip) {
    @select( placeShipForm("id"), options(Formatter.shipsToShipIdList(model.getShips)) )
    @select( placeShipForm("y"), options(Formatter.coordinatesForGrid(model.gridSize)) )
    @select( placeShipForm("x"), options(Formatter.coordinatesForGrid(model.gridSize)) )
    @select( placeShipForm("orientation"), options(List("Horizontal", "Vertical")) )

    <input id="submit_placeShip" type="submit" value="Place Ship"/>
  }

  @form(routes.Application.removeShip) {
    @select( placeShipForm("id"), options(Formatter.shipsToShipIdList(model.getPlacedShips)) )

    <input type="submit" value="Remove Ship"/>
  }
}