@(model:de.htwg.scala.solitairebattleship.model.IGame, placeShipForm:Form[PlaceShipData], removeShipForm:Form[Int], errorMsg:Option[String], showValidation:Boolean)

@import de.htwg.scala.solitairebattleship.view.Formatter
@import de.htwg.scala.solitairebattleship.model.IGame
@import de.htwg.scala.solitairebattleship.model.Model
@import de.htwg.scala.solitairebattleship.model.Ship
@import helper._

@main("Solitaire Battleship") {
  <h1>Play Game</h1>

  @grid
  @unplacedShips
  @hiddenForm

  <a href="@routes.Application.index">New Game</a>
  <a href="@routes.Application.solution">Show Solution</a>

  @if(!errorMsg.isEmpty) {
    <script type="text/javascript">alert("@errorMsg.get")</script>
  }



}

@grid = {
    <table>
    <tr>
      <td>@(" ")</td>
      @for(x <- 0 until model.gridSize) {
        <td>@((x+65).toChar)</td>
      }
      <td>@(" ")</td>
    </tr>
    @for(y <- 0 until model.gridSize) {
      <tr>
        <td>@((y+65).toChar)</td>
        @for(x <- 0 until model.gridSize) {  
          @if(showValidation && model.getCollisions.contains((x,y))) {
            <td class="collision">@model.gameGrid.getCell(x, y).id.toString</td>
          } else {
            @if(model.gameGrid.getCell(x, y) != null) {
              <td class="occupied">@model.gameGrid.getCell(x, y).id.toString</td>  
            } else {
              <td>~</td>
            }
          }
        }
        @if(showValidation) {
          @if(model.validateRowSum(y)) {
          <td class="valid">
          } else {
            <td class="notValid">
          }
        } else {
          <td>
        }
        @(model.gameGrid.getRowSum(y))</td>
      
      </tr>
    }
    <tr>
      <td>@(" ")</td>
      @for(x <- 0 until model.gridSize) {
        @if(showValidation) {
          @if(model.validateColumnSum(x)) {
          <td class="valid">
          } else {
            <td class="notValid">
          }
        } else {
          <td>
        }
        @(model.gameGrid.getColumnSum(x))</td>
      }
      <td>@(" ")</td>
    </tr>
  </table>
}

@unplacedShips = {
  <div>
    @for(s <- model.getUnplacedShips) {
      <div id="ship_+@(s.id.toString)" class="shipWithSize@(s.size.toString)">@(s.id.toString)</div>
    }
  </div>
}
  
@hiddenForm = {

  @form(routes.Application.placeShip) {
    @select( placeShipForm("id"), options(Formatter.shipsToShipIdList(model.getShips)) )
    @select( placeShipForm("y"), options(Formatter.coordinatesForGrid(model.gridSize)) )
    @select( placeShipForm("x"), options(Formatter.coordinatesForGrid(model.gridSize)) )
    @select( placeShipForm("orientation"), options(List("Horizontal", "Vertical")) )

    <input type="submit" value="Place Ship"/>
  }

  @form(routes.Application.removeShip) {
    @select( placeShipForm("id"), options(Formatter.shipsToShipIdList(model.getPlacedShips)) )

    <input type="submit" value="Remove Ship"/>
  }
}