@(solution:de.htwg.scala.solitairebattleship.model.IGrid)

@import de.htwg.scala.solitairebattleship.model.IGrid
@import de.htwg.scala.solitairebattleship.model.Ship


@main("Solitaire Battleship") {
  <h1>Show Solution</h1>

  <table>
    <tr>
      <td>@(" ")</td>
      @for(x <- 0 until solution.size) {
        <td>@((x+65).toChar)</td>
      }
      <td>@(" ")</td>
    </tr>

    @for(y <- 0 until solution.size) {
      <tr>
        <td>@((y+65).toChar)</td>
        @for(x <- 0 until solution.size) {
          <td>
            @{
              val s:Ship = solution.getCell(x, y)
              if(s == null) {
                "~"
              } else {
                s.id.toString
              }
            }
          </td>
        }
        <td>@(solution.getRowSum(y).toString)</td>
      </tr>
    }
    <tr>
      <td>@(" ")</td>
      @for(x <- 0 until solution.size) {
        <td>@(solution.getColumnSum(x))</td>
      }
      <td>@(" ")</td>
    </tr>
  </table>

  <a href="@routes.Application.index">New Game</a>
}